/*
 * AIS-Store Downloader styling
 *
 */


/*
 * Scaffolding
 *
 * Update the basics of our documents to prep for docs content.
 */

body {
  position: relative; /* For scrollyspy */
  padding-top: 50px; /* Account for fixed navbar */
}


/*
 * Main navigation
 *
 * Turn the `.navbar` at the top of the docs black-white-grey-nice.
 */

.bs-docs-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #3a3a3a;
  border-color: #3a3a3a;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.bs-docs-nav .navbar-collapse {
  border-color: #463265;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #cecece;
  border-right: 1px solid #cecece;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #474747;
  background-color: transparent;
  border-right: 1px solid #646464;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/*force screen to be wider*/
@media (min-width: 1200px) {
    .bs-docs-container{
        max-width: 1400px;
    }
}

@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 155px;
    }

    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contrainer{
        max-width: 1400px;
    }
}



/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.bs-docs-section + .bs-docs-section {
    padding-top: 40px;
}

/* Janky fix for preventing navbar from overlapping */
h1[id] {
    padding-top: 80px;
    margin-top: -45px;
}

 /*
 * Validations
 *
 * Different custom validations round the index.html
 */

.textboxValidatorClass {
    background-color: #FFCCCC;
}

.textValidatorClass {
    color: #FF0000;
    display:block;
}

/*
 * Sticky screen footer
 */

footer {
    width: 100%;
    position: fixed;
    left: 0%;
    bottom: 0%;
    background: #3a3a3a;
    z-index:10000;
}

/*
 * Map styles in area-selection
 */

#mapdiv {
    width:100%;
    height:400px;
}

#bbox_adjust_instruction {
    height:1.5em;
    display:none;
}

/*
 * No padding on navbar-forms (used in Download section)
 */

.navbar-form {
    padding: 0px 0px;
}

/*
* Misc
*/
.outputlist-headlines {
    display: block;
    text-align: center;
}



