#columnWrapper {
    
    margin: 0px;
}

#listTitles,#separatorTitle {
		font-weight:bold;
		text-align: center;
		margin-bottom:0px; 
}

#arrowImg {
		margin-top:80px;
		vertical-align:middle; 
		border:0px;
		
}

#notIncludedList {
    
    height: 205px;
    margin: 0px;
    padding: 0px;
    border:1px solid gray;
    border-radius:3px;
    list-style-type: none;
    border:1px solid gray;
    overflow:auto;
    overflow-y: scroll;
		overflow-x: hidden;
}

#includedList {
    
    height: 205px;
    margin: 0px;
    padding: 0px;
    border:1px solid gray;
    border-radius:3px;
    list-style-type: none;
    border:1px solid gray;
    overflow:auto;
    overflow-y: scroll;
		overflow-x: hidden;
}


#columnListElementNotIncluded {
    margin: 3px;
    border:1px solid gray;
		border-radius:2px;
		padding-left:12px;
		background-color:rgba(255,73,0,.1);
}

#columnListElementIncluded {
    margin: 3px;
    border:1px solid gray;
		border-radius:2px;
		padding-left:12px;
		background-color:rgba(0,175,100,.1);
}



}

.done-true {
  text-decoration: line-through;
  color: grey;
}


#columnList #columnListElement:hover {
    background-color: gray;
    opacity: .8;
}

#headerBreadcrumb {

}

#headerBreadcrumb textarea {
        resize: none;
        text-align:center;
        border:0px;
}
#headerBreadcrumb ul{
    list-style: none;
    padding:0;
    margin:0;
}

#headerBreadcrumb li{
    display: inline;
}

#stringBreadcrumb {
    resize: none;
}