#columnWrapperFirst {
    width: 200px;
    height: 100px;
    border:1px solid gray;
    overflow: auto;
    float: left;
}

#columnWrapper {
    width: 200px;
    height: 100px;
    border:1px solid gray;
    overflow: auto;
}

#columnList {
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#columnListElement {
    margin: 1px;
}
}

.done-true {
  text-decoration: line-through;
  color: grey;
}


#columnList #columnListElement:hover {
    background-color: gray;
    opacity: .8;
}