#columnWrapper {
    
    border:1px solid gray;
}

#sourceList {
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#targetList {
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}


#columnListElement {
    margin: 1px;
}
}

.done-true {
  text-decoration: line-through;
  color: grey;
}


#columnList #columnListElement:hover {
    background-color: gray;
    opacity: .8;
}