<!DOCTYPE html>
<html ng-app="aisHDD">

<head>
    <title>AIS Historic Data Downloader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//mgcrea.github.com/angular-strap/1.0/css/prettify.css" rel="stylesheet">


    <!-- custom styles -->
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="css/bootstrap-timepicker.css" rel="stylesheet">
    <link href="css/columnSelector.css" rel="stylesheet">
    <link href="css/ais-store-styles.css" rel="stylesheet">

</head>
<body onload="init()">

<!-- AisStore master nav -->
<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
    <div class="container">
        <a class="navbar-brand">AIS Store Downloader</a>
    </div>
</div>

<!-- AisStore Sidebar nav and Content main page  -->
<div id="docs_container" class="container bs-docs-container">
    <div class="row">

        <!-- AisStore sidebar nav -->
        <div class="col-lg-2">
            <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="0">
                <ul class="nav bs-sidenav">
                    <li><a href="#source_filters">Source Filtering</a></li>
                    <li><a href="#mmsi_filters">MMSI Filtering</a></li>
                    <li><a href="#area_selection">Area Selection</a></li>
                    <li><a href="#ship_types">Ship types</a></li>
                    <li><a href="#time_selection">Time selection</a></li>
                    <li><a href="#output_format">Output Format</a></li>
                    <li><a href="#download">Download</a></li>
                </ul>
            </div>
        </div>

        <!-- Content main page-->
        <div class="col-lg-10">
            <div class="bs-docs-section">
                <!-- Source Filters-->
                <div class="page-header">
                    <h1 id="source_filters">Source Filter</h1>
                </div>

                <div id='source_filters_body' ng-controller="sourceFilters">
                    <div id="sourceTabs" class="tabbable" style="min-height: 280px;">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#pane1" data-toggle="tab">{{sourceIdTabHeader}}</a></li>
                            <li><a href="#pane2" data-toggle="tab">{{sourceBaseTabHeader}}</a></li>
                            <li><a href="#pane3" data-toggle="tab">{{sourceCountryTabHeader}}</a></li>
                            <li><a href="#pane4" data-toggle="tab">{{sourceTypeTabHeader}}</a></li>
                            <li><a href="#pane5" data-toggle="tab">{{sourceRegionTabHeader}}</a></li>

                        </ul>
                        <div class="tab-content">
                            <div id="pane1" class="tab-pane fade in active">
                                <h4 id="source_id">Source ID</h4>
                                <div class="well">
                                    <div class="row">
                                        <div class="col-lg-3" >
                                            <div ng-repeat="sourceId in sourceIds">
                                                <input type="checkbox" ng-model="sourceId.include" ng-click="sourceIdsSelect(sourceId)">
                                                <span>{{sourceId.text}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="pane2" class="tab-pane fade">
                                <h4 id="source_base">Source Base Station</h4>
                                <div ng-repeat="sourceBase in sourceBases">
                                    <span>{{sourceBase.text}}</span>
                                    <input type="text" ng-model="sourceBase.input" ng-change="newTextFieldBase(sourceBase)">
                                </div>
                            </div>
                            <div id="pane3" class="tab-pane fade">
                                <h4 id="source_country">Source Country</h4>
                                <div ng-repeat="sourceCountry in sourceCountries">
                                    <span>{{sourceCountry.text}}</span>
                                    <input type="text" size="45" auto-complete ui-items="countryDatabase"
                                           ng-model="sourceCountry.input" ng-change="newTextFieldCountry(sourceCountry)"
                                           ng-class="{textboxValidatorClass: checkCountryDB(sourceCountry)}">
                                </div>
                            </div>
                            <div id="pane4" class="tab-pane fade">
                                <h4 id="source_type">Source Type</h4>
                                <form name="myForm" ng-click="sourceTypeHeadingControl()">
                                    <input type="radio" ng-model="sourceTypes" value="any">  Any <br/>
                                    <input type="radio" ng-model="sourceTypes" value="live">  LIVE <br/>
                                    <input type="radio" ng-model="sourceTypes" value="sat">  SAT <br/>
                                </form>
                            </div>
                            <div id="pane5" class="tab-pane fade">
                                <h4 id="source_region">Source Region</h4>
                                <div ng-repeat="sourceRegion in sourceRegions">
                                    <span>{{sourceRegion.text}}</span>
                                    <input type="text" ng-model="sourceRegion.input" ng-change="newTextFieldRegion(sourceRegion)">
                                </div>
                            </div>
                        </div><!-- /.tab-content -->
                    </div><!-- /.tabbable -->
                    <button class="btn btn-danger" ng-click="clearSources()" >Clear All Source Filters</button>
                </div><!-- /#source_filters_body -->

                <!-- MMSI Filtering-->
                <div class="page-header">
                    <h1 id="mmsi_filters">MMSI Filtering</h1>
                </div>

                <div id="mmsi_filters_body" ng-controller='mmsiFilters'>
                    <div ng-repeat="mmsi in mmsis">
                        <span>{{mmsi.text}}</span>
                        <input type="text" ng-model="mmsi.input" ng-change="newTextFieldMmsi(mmsi)">
                    </div>
                    <br>
                    <button class="btn btn-danger" ng-click="clearSources()" >Clear All MMSI Filters</button>
                </div><!-- /#mmsi_filters_body -->

                <!-- Area Selection-->
                <div class="page-header">
                    <h1 id="area_selection">Area Selection</h1>
                </div>

                <div id="area_selection_body" ng-controller='areaSelection'>
                    <p>This map can be used to restrict the area for which Ais Data should be returned from.</p>
                    <div id="mapdiv"></div>
                    <br>
                    <div id="bbox_result" class="row">
                        <div id="topLeftCorner" class="col-lg-4">
                            <div class="well">
                                <label>Top left corner</label><br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" id="bbox_result_maxLat" class="form-control" size=6
                                               ng-change="changeMapInputField()" ng-model="topLeftLat" placeholder="Lat"
                                               ng-class="{textboxValidatorClass: latitudeCheck(topLeftLat) || sameLatCheck() }">
                                    </div>
                                    <div class="col-lg-6">
                                        <input  type="text" id="bbox_result_minLon" class="form-control" size=6
                                                ng-change="changeMapInputField()" ng-model="topLeftLon" placeholder="Lon"
                                                ng-class="{textboxValidatorClass: longitudeCheck(topLeftLon) || sameLonCheck()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="bottomRightCorner" class="col-lg-4">
                            <div class="well">
                            <label>Bottom right corner</label><br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" id="bbox_result_minLat" class="form-control" size=6
                                           ng-change="changeMapInputField()" ng-model="bottomRightLat" placeholder="Lat"
                                           ng-class="{textboxValidatorClass: latitudeCheck(bottomRightLat) || sameLatCheck() }">
                                    </div>
                                    <div class="col-lg-6">

                                        <input  type="text" id="bbox_result_maxLon" class="form-control" size=6
                                                ng-change="changeMapInputField()" ng-model="bottomRightLon" placeholder="Lon"
                                                ng-class="{textboxValidatorClass: longitudeCheck(bottomRightLon) || sameLonCheck()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="clearSelected" class="col-lg-4">

                            <div id="bbox_adjust_instruction">
                                <input type="button" class="btn btn-danger" value="Clear Area Selection" onclick="dragNewBox();">
                            </div>
                        </div>
                    </div>

                    <div class="textValidatorClass" ng-show="latitudeCheck(topLeftLat)">Latitude should be between -90 and 90 degrees.</div>
                    <div class="textValidatorClass" ng-show="latitudeCheck(bottomRightLat)&& !latitudeCheck(topLeftLat)">Latitude should be between -90 and 90 degrees.</div>
                    <div class="textValidatorClass" ng-show="longitudeCheck(topLeftLon)">Longitude should be between -180 and 180 degrees.</div>
                    <div class="textValidatorClass" ng-show="longitudeCheck(bottomRightLon) && !longitudeCheck(topLeftLon)">Longitude should be between -180 and 180 degrees.</div>
                    <div class="textValidatorClass" ng-show="sameLatCheck()">Same lat on both points.</div>
                    <div class="textValidatorClass" ng-show="sameLonCheck()">Same lon on both points.</div>

                </div><!-- /#area_selection_body -->

                <!-- Ship Types Selection -->
                <div class="page-header">
                    <h1 id="ship_types">Ship types</h1>
                </div>
                <div id="ship_types_body" ng-controller='shipSelection'>
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-3" >
                                <div ng-repeat="shipType in shipTypes" ng-show="(shipType.index)%4==1">
                                    <input type="checkbox" ng-model="shipType.include" ng-click="shipTypesSelect(shipType)">
                                    <span>{{shipType.text}}</span>
                                </div>
                            </div>
                            <div class="col-lg-3" >
                                <div ng-repeat="shipType in shipTypes" ng-show="(shipType.index)%4==2">
                                    <input type="checkbox" ng-model="shipType.include" ng-click="shipTypesSelect(shipType)">
                                    <span>{{shipType.text}}</span>
                                </div>
                            </div>
                            <div class="col-lg-3" >
                                <div ng-repeat="shipType in shipTypes" ng-show="(shipType.index)%4==3">
                                    <input type="checkbox" ng-model="shipType.include" ng-click="shipTypesSelect(shipType)">
                                    <span>{{shipType.text}}</span>
                                </div>
                            </div>
                            <div class="col-lg-3" >
                                <div ng-repeat="shipType in shipTypes" ng-show="(shipType.index)%4==0">
                                    <input type="checkbox" ng-model="shipType.include" ng-click="shipTypesSelect(shipType)">
                                    <span>{{shipType.text}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p> Shiptype is not send to request url</p>
                </div><!-- /#ship_types_body -->


                <!-- Time Selection-->
                <div class="page-header">
                    <h1 id="time_selection">Time selection</h1>
                </div>

                <div id="time_selection_body" ng-controller="timeSelection">
                    <div class="row">
                        <div id="startTimeWrapper" class="col-lg-4">
                            <h4>Start of data query</h4>
                            <form class="form-inline well" role="form">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="control-group form-group">
                                            <label id="startDateLabel" for="inputStartDatepicker">Date</label><br>
                                            <input id="inputStartDatepicker" class="form-control" type="text"
                                                   ng-model="startDatepicker.date" data-date-format="dd/mm/yyyy"
                                                   data-end-date="returnNowDate()"
                                                   style="width: 105px;" bs-datepicker=""
                                                   ng-class="{textboxValidatorClass: checkIfFutureDate(startDatepicker.date) || afterStartDate() || validDate(startDatepicker.date)}">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="control-group form-group">
                                            <label id="startTimeLabel" for="inputStartTimepicker">Time</label><br>
                                            <input id="inputStartTimepicker" type="text" class="form-control"
                                                   ng-model="startTimepicker.time" style="width: 65px;"
                                                   data-show-meridian="false" bs-timepicker=""
                                                   ng-class="{textboxValidatorClass: afterStartTime()}">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="endTimeWrapper" class="col-lg-4">
                            <h4>End of data query</h4>
                            <form class="form-inline well" role="form">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="control-group form-group">
                                            <label id="endDateLabel" for="inputEndDatepicker">Date</label><br>
                                            <input id="inputEndDatepicker" class="form-control" type="text"
                                                   ng-model="endDatepicker.date" data-date-format="dd/mm/yyyy"
                                                   data-end-date="returnNowDate()"
                                                   style="width: 105px;" bs-datepicker=""
                                                   ng-class="{textboxValidatorClass: checkIfFutureDate(endDatepicker.date) || afterStartDate() || validDate(endDatepicker.date)}">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="control-group form-group">
                                            <label id="endTimeLabel" for="inputEndTimepicker">Time</label><br>
                                            <input id="inputEndTimepicker" type="text" class="form-control"
                                                   ng-model="endTimepicker.time" style="width: 65px;"
                                                   data-show-meridian="false" bs-timepicker=""
                                                   ng-class="{textboxValidatorClass: afterStartTime()}">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="timeZoneWrapper" class="col-lg-3">
                            <h4>Time zone</h4>
                            <form class="form-inline well" role="form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="control-group form-group">
                                            <label id="timeZoneLabel" for="timeZonePicker">Time zone</label><br>
                                            <select id="timeZonePicker" ng-model="timeZone.ID"  class="form-control"
                                                    ng-options="item.ID as item.Title for item in timeZones"></select>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="textValidatorClass" ng-show="validDate(startDatepicker.date)">Start date has wrong format</div>
                    <div class="textValidatorClass" ng-show="validDate(endDatepicker.date)">End date has wrong format</div>
                    <div class="textValidatorClass" ng-show="afterStartDate()">Start date must be before end date</div>
                    <div class="textValidatorClass" ng-show="checkIfFutureDate(startDatepicker.date)"
                            >Start date must not be in the future</div>
                    <div class="textValidatorClass" ng-show="checkIfFutureDate(endDatepicker.date)"
                            >End date must not be in the future</div>
                    <div class="textValidatorClass" ng-show="afterStartTime()">Start time must be before end time when same start/end date is chosen</div>


                </div><!-- /#time_selection_body -->
                <!-- Output Format-->
                <div class="page-header">
                    <h1 id="output_format">Output Format</h1>
                </div>

                <div id="output_format_body" ng-controller="dndCtrl" class="tabbable" style="min-height: 402px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#rawPane" data-toggle="tab" ng-click="changeOutput('raw')">Raw</a></li>
                        <li><a href="#tablePane" data-toggle="tab" ng-model="format" ng-click="changeOutput('table')">Table select</a></li>
                        <li><a href="#prefixedPane" data-toggle="tab" ng-model="format" ng-click="changeOutput('prefixed_sentences')">Prefixed Data</a></li>
                        <li><a href="#KMLpane" data-toggle="tab" ng-model="format" ng-click="changeOutput('OUTPUT_TO_KML')">KML</a></li>
                        <li><a href="#HTMLpane" data-toggle="tab" ng-model="format" ng-click="changeOutput('OUTPUT_TO_HTML')">HTML</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="rawPane" class="tab-pane fade in active">
                            <h4>Raw data is chosen</h4>
                        </div>
                        <div id="prefixedPane" class="tab-pane fade">
                            <h4>PREFIXED Raw data is chosen</h4>
                            <h4>Example:</h4>
                            <pre>01-08-2013 20:36:54,!AIVDM,1,1,,B,13I6Re?OhhPHD5bHhth@q@vF00S4,0*0E</pre>
                        </div>
                        <div id="KMLpane" class="tab-pane fade">
                            <h4>KML output example:</h4>
                        </div>
                        <div id="HTMLpane" class="tab-pane fade">
                            <h4>HTML output example:</h4>
                        </div>
                        <div id="tablePane" style="margin-top:4mm;" class="tab-pane fade">
                            <div id="tableContainer" class="container" >
                                <div class="row">

                                    <div id="columnWrapper1" class="col-lg-4">
                                        <label id="listTitles1" class="outputlist-headlines ">Not included</label>
                                        <ul id="notIncludedList"
                                            dnd-between-list="notIncluded,includedList"
                                            ng-class="{'minimalList':notIncludedEmpty()}">

                                            <li id="columnListElementNotIncluded"
                                                ng-repeat="item in notIncluded | filter:{category: filterCategory}"><body>{{item.value}}</body></li>
                                        </ul>
                                        <div class="btn-group btn-group-justified">
                                            <a role="button" class="btn btn-default" ng-click="filterCategory='all'">All</a>
                                            <a role="button" class="btn btn-default" ng-click="filterCategory='xyz'">xyz</a>
                                            <a role="button" class="btn btn-default" ng-click="filterCategory='time'">Time</a>
                                            <a role="button" class="btn btn-default" ng-click="filterCategory='signal'">Signal</a>
                                        </div>
                                    </div><!-- /.col-lg-4 -->

                                    <div id="dragImg" class="col-lg-1">
                                        <img id="arrowImg" src="img/arrow.jpeg">
                                    </div><!-- /.col-lg-1 -->

                                    <div id="columnWrapper2" class="col-lg-4">
                                        <label id="listTitles2" class="outputlist-headlines">Included</label>
                                        <ul id="includedList"
                                            dnd-between-list="included,notIncludedList"
                                            ng-class="{'minimalList':modelEmpty()}">
                                            <li id="columnListElementIncluded"
                                                ng-repeat="item in included"><body>{{item.value}}</body></li>
                                        </ul>
                                    </div><!-- /.col-lg-4 -->

                                    <div id="seperatorSelect" class="col-lg-3">
                                        <label id="listTitles3" class="outputlist-headlines">Separator</label>
                                        <select ng-model="tableSeparator.sep"
                                                ng-options="item.Value as item.Title for item in tableSeparators">
                                        </select><br>
                                        <br>
                                        <input type="checkbox" ng-model="headerChecked" value="true">
                                        <span>No header</span>
                                    </div><!-- /.col-lg-3 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                            <br>

                            <div id="exampleQuery">
                                <div ng-show="headerChecked" class="form-group">
                                    <textarea id="stringHeaderShow" readonly rows="2" style="width: 100%;" placeholder="Example">{{exPreview()}}</textarea>
                                </div>
                                <div ng-hide="headerChecked" class="form-group">
                                    <textarea id="stringExShow" readonly rows="2" style="width: 100%;" placeholder="Example">{{headerPreview()}}&#10;{{exPreview()}}</textarea>
                                </div>
                            </div>
                        </div><!-- /#tablePane -->
                    </div><!-- /.tab-content -->
                </div><!-- /#output_format_body -->
                <!-- Download-->
                <div class="page-header">
                    <h1 id="download">Download</h1>
                </div>

                <div id="download_body" ng-controller="urlBuilder">
                    <div >
                        <textarea rows="3" style="width: 100%;" readonly>{{url()}}</textarea>
                    </div>
                    <div class="navbar" >
                        <form class="navbar-form pull-left">
                            <input type="text" class="form-control" ng-model="samples" style="width: 100px;" placeholder="#samples">
                            <button type="submit" ng-click="openRequestCallLimit()" class="btn btn-default">Show Sample</button>
                            <p>NP: Save to disk only works in Chrome,Fixefox,Opera</p>
                        </form>
                        <form class="navbar-form pull-right">
                            <button type="submit" ng-click="openRequestCall()" class="btn btn-success">Open in new tab</button>
                            <button type="submit" ng-click="download()" class="btn btn-success">Save to disk</button>
                        </form>
                    </div>
                    <br><br><br>
                </div><!-- /#download_body -->
                <footer>
                    <div style="color:white; padding-left: 2px;" ng-controller="urlBuilder">
                        <p style="padding-left: 4px; padding-top: 2px;">{{url()}}</p>
                    </div>
                </footer>
            </div><!-- /.bs-docs-section -->
        </div><!-- /.col-lg-10 -->

    </div><!-- /.doc -->

    <!-- JavaScripts-->

    <script>
        document.getElementById("columnListElementNotIncluded").style.cursor="move";
        document.getElementById("columnListElementIncluded").style.cursor="move";
    </script>

    <!-- Data-files-->
    <script src="js/data.js"></script>
    <script src="js/landcodes.js"></script>

    <!-- JavaScript plugins (requires jQuery) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- jQuery UI -->
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>

    <!-- Underscore -->
    <script src="//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>

    <!-- Latest compiled and minified Botstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->


    <!-- AngularStrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
    <!--<script src="https://mgcrea.github.com/angular-strap/js/angular-strap.js"></script>-->

    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>

    <!-- Open Layer Custom funtions -->
    <script src="js/mapFunctions.js"></script>

    <!-- load the app scripts -->
    <script src="app/app.js" type="text/javascript"></script>
    <script src="app/output-format-dir.js" type="text/javascript"></script>
    <script src="app/output-format-ctrl.js" type="text/javascript"></script>
    <script src="app/area-selection.js"></script>
    <script src="app/ship-selection.js"></script>
    <script src="app/mmsi-filters.js"></script>
    <script src="app/source-filters.js"></script>
    <script src="app/url-builder.js"></script>
    <script src="app/time-selection.js"></script>
    <!--<script src="app/download.js"></script>-->

    <script src="js/application.js"></script>

    <!-- OpenLayers -->
    <!--<script src="http://www.openlayers.org/api/OpenLayers.js"></script>-->
    <script src="openlayers/OpenLayers.js"></script>



</div><!-- bs-docs div ends-->
</body>
</html>