<!DOCTYPE html>
<html ng-app="aisHDD">

<head>
    <title>AIS Historic Data Downloader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS-->

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://mgcrea.github.com/angular-strap/css/prettify.css" rel="stylesheet">

    <!-- custom styles -->
    <link href="css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="css/bootstrap-timepicker.css" rel="stylesheet">
    <link href="css/columnSelector.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">


    <style>
        <!-- TODO: move to stylesheet -->

        #mapdiv33 { width:800px; height:400px; }

        #mapdiv { width:100%; height:400px; }

        #bbox_drag_instruction { height:1.5em; }
        #bbox_adjust_instruction { height:1.5em; display:none;  }

    </style>

</head>
<body onload="init();">

<div ng-controller="SourceIds">
  
    <!-- AisStore master nav -->
	<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  	    <div class="container">
    	    <a class="navbar-brand">AIS Store Downloader</a>
  	    </div>
	</div>

	<!-- AisStore sidebar nav -->
    <div class="container bs-docs-container">
  		<div class="row">
            <div class="col-lg-2">
                <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="0">
                    <ul class="nav bs-sidenav">
                        <li><a href="#source">Source Filtering</a></li>
                        <li><a href="#area-selection">Area Selection</a></li>
                        <li><a href="#ship-types">Ship types</a></li>
                        <li><a href="#time-selection">Time selection</a></li>
                        <li><a href="#output-format">Output Format</a></li>
                        <li><a href="#download">Download</a></li>
                    </ul>
                </div>
            </div>
 	
 			<!-- Content main page-->
            <div class="col-lg-10">
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h1 id="source">Source Filter</h1>
        			</div>
                    <div class="tabbable" style="min-height: 300px;">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#pane1" data-toggle="tab">{{sourceIdTabHeader}}</a></li>
                            <li><a href="#pane2" data-toggle="tab">{{sourceBaseTabHeader}}</a></li>
                            <li><a href="#pane3" data-toggle="tab">{{sourceCountryTabHeader}}</a></li>
                            <li><a href="#pane4" data-toggle="tab">{{sourceTypeTabHeader}}</a></li>
                            <li><a href="#pane5" data-toggle="tab">{{sourceRegionTabHeader}}</a></li>

                        </ul>
                        <div class="tab-content">
                            <div id="pane1" class="tab-pane active">
                                <h3 id="source_id">Source ID</h3>
                                <div class="well">
                                    <div class="row">
                                        <div class="col-lg-3" >
                                            <div ng-repeat="sourceId in sourceIds">
                                                <input type="checkbox" ng-model="sourceId.include" ng-click="sourceIdsSelect(sourceId)">
                                                <span>{{sourceId.text}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="pane2" class="tab-pane">
                                <h3 id="source_base">Source base station</h3>
                                <p>Source basestation: multiple inputboxes (max 9 characters), add a new one each time one is filled out</p>
                                <div ng-repeat="sourceBase in sourceBases">
                                    <span>{{sourceBase.text}}</span>
                                    <input type="text" ng-model="sourceBase.input" ng-change="newTextFieldBase(sourceBase)">
                                </div>
                            </div>
                            <div id="pane3" class="tab-pane">
                                <h3 id="source_country">Source Country</h3>
                                <p>Source country: multiple inputboxes (max 3 characters), add a new one each time one is filled out </p>

                                <div ng-repeat="sourceCountry in sourceCountries">
                                    <span>{{sourceCountry.text}}</span>
                                    <input type="text" ng-model="sourceCountry.input" ng-change="newTextFieldCountry(sourceCountry)">
                                </div>
                            </div>
                            <div id="pane4" class="tab-pane">
                                <h3 id="source_type">Source Type</h3>
                                <p>Source type: Radio -> 3 options Any (default), LIVE, SAT </p>
                                <form name="myForm" ng-click="sourceTypeHeadingControl()">
                                    <input type="radio" ng-model="sourceTypes" value="any">  Any <br/>
                                    <input type="radio" ng-model="sourceTypes" value="live">  LIVE <br/>
                                    <input type="radio" ng-model="sourceTypes" value="sat">  SAT <br/>
                                </form>
                            </div>
                            <div id="pane5" class="tab-pane">
                                <h3 id="source_region">Source region</h3>
                            </div>
                        </div><!-- /.tab-content -->
                    </div><!-- /.tabbable -->

                    <button class="btn btn-danger" ng-click="clearSources()" >Clear All Source Filters</button>

                    <div class="page-header">
        				<h1 id="area-selection">Area Selection</h1>
        			</div>
        			<p>This map can be used to restrict the area for which Ais Data should be returned from:</p>
        

                    <div id="bbox_drag_instruction">Drag a box:</div>
    				<div id="bbox_adjust_instruction">Adjust the box ...or <input type="button" value="Clear Area Selection" onclick="dragNewBox();"></div>
    				<br>
    				<div id="mapdiv"></div>
    				<div id="bbox_result">

                        Top Left (Lat, Lon)
                        (<input type="text" id="bbox_result_maxLat" ng-change="testMap()" ng-model="topLeftLat" size=5>,
						<input type="text" id="bbox_result_minLon" ng-change="testMap()" ng-model="topLeftLon" size=5>)

                        Buttom Right (Lat, Lon)
						(<input type="text" id="bbox_result_minLat" ng-change="testMap()" ng-model="buttomRightLat" size=5>,
						<input type="text" id="bbox_result_maxLon" ng-change="testMap()" ng-model="buttomRightLon" size=5>)
		            </div>
	  				<div class="page-header">
        				<h1 id="ship-types">Ship types</h1>
                        15 typer med overkategorier: markeres med checkboxes
        			</div>
        			<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        			

                    <div class="page-header">
					    <h1 id="time-selection">Time selection</h1>
					</div>

                    <div ng-controller="dateTimePicker" class="row">
                        <div id="startTimeWrapper" class="col-lg-6">
                            <form class="form-inline well" role="form">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="control-group form-group">
                                            <label id="startDateLabel" for="inputStartDatepicker">Start date</label><br>
                                            <input id="inputStartDatepicker" class="form-control" type="text"
                                                   ng-model="startDatepicker.date" data-date-format="dd/mm/yyyy"
                                                   style="width: 110px;" bs-datepicker="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="control-group form-group">
                                            <label id="startTimeLabel" for="inputStartTimepicker">Start time</label><br>
                                            <input id="inputStartTimepicker" type="text" class="form-control"
                                                   ng-model="startTimepicker.time" style="width: 110px;" bs-timepicker="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="control-group form-group">
                                            <label id="endTimezoneLabel" for="startTimeZonePicker">Timezone</label><br>
                                            <select id="startTimeZonePicker" ng-model="startTimeZone.zone"  class="form-control"
                                                    ng-options="item.ID as item.Title for item in timeZones"></select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {{selected}}



                        </div>



                        <div id="endTimeWrapper" class="col-lg-6">
                            <form class="form-inline well" role="form">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="control-group form-group">
                                            <label id="endDateLabel" for="inputEndDatepicker">End date</label><br>
                                            <input id="inputEndDatepicker" class="form-control" type="text"
                                                   ng-model="endDatepicker.date" data-date-format="dd/mm/yyyy"
                                                   style="width: 110px;" bs-datepicker="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="control-group form-group">
                                            <label id="endTimeLabel" for="inputEndTimepicker">Start time</label><br>
                                            <input id="inputEndTimepicker" type="text" class="form-control"
                                                   ng-model="endTimepicker.time" style="width: 110px;" bs-timepicker="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="control-group form-group">
                                            <label id="endTimezoneLabel" for="endTimeZonePicker">Timezone</label><br>
                                            <select id="endTimeZonePicker" ng-model="endTimeZone.zone"  class="form-control"
                                                    ng-options="item.ID as item.Title for item in timeZones"></select>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>

                    <div class="page-header">
					    <h1 id="output-format">Output Format</h1>
					</div>

                    <p>"For now just a Radio button with the two choices "Raw format" or "Table format"."</p>

                    <div class="tabbable" style="min-height: 367px;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#rawPane" data-toggle="tab" ng-click="format=''">Raw</a></li>
                            <li><a href="#tablePane" data-toggle="tab" ng-model="format" ng-click="format='tables='">Table select</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="rawPane" class="tab-pane active">
                                <h4>some raw setup</h4>
                            </div>
                            <div id="tablePane" class="tab-pane" ng-controller="dndCtrl">
                                <div class="container" id="main">
                                    <div class="row">
                                        <div id="columnWrapper" class="col-lg-4">
                                            <p id="listTitles">Not included in query</p>

                                            <ul id="notIncludedList"
                                                dnd-between-list="notIncluded,includedList"
                                                ng-class="{'minimalList':notIncludedEmpty()}">

                                                <li id="columnListElementNotIncluded"
                                                    ng-repeat="item in notIncluded | filter:{category: filterCategory}"><body>{{item.value}}</body></li>
                                            </ul>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info" ng-click="filterCategory='all'">All</button>
                                                <button type="button" class="btn btn-info" ng-click="filterCategory='xyz'">xyz</button>
                                                <button type="button" class="btn btn-info" ng-click="filterCategory='time'">Time</button>
                                                <button type="button" class="btn btn-info" ng-click="filterCategory='signal'">Signal</button>
                                            </div>
                                        </div>

                                        <div id="dragImg" class="col-lg-1">

                                            <img id="arrowImg" src="img/arrow.jpeg" alt="Drag and drop elements around">
                                        </div>
                                        <div id="columnWrapper" class="col-lg-4">
                                            <p id="listTitles">Included in query</p>
                                            <ul id="includedList"
                                                dnd-between-list="included,notIncludedList"
                                                ng-class="{'minimalList':modelEmpty()}">
                                                <li id="columnListElementIncluded"
                                                    ng-repeat="item in included"><body>{{item.value}}</body></li>
                                            </ul>
                                        </div>
                                        <div id="seperatorSelect" class="col-lg-3">
                                            <p id="separatorTitle">Separator</p><br>
                                            <select ng-model="tableSeparator.sep"
                                                    ng-options="item.ID as item.Title for item in tableSeparators">
                                            </select><br>
                                            <br>
                                            <input type="checkbox" ng-model="headerChecked" value="true">
                                            <span>Include header</span>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div style="margin-left: 15px;">
                                    <div ng-hide="headerChecked">
                                        <textarea id="stringHeaderShow" readonly rows="2" style="width: 100%;" placeholder="Example">{{exPreview()}}</textarea>
                                    </div>
                                    <div ng-show="headerChecked">
                                        <textarea id="stringExShow" readonly rows="2" style="width: 100%;" placeholder="Example">{{headerPreview()}}&#10;{{exPreview()}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.tab-content -->
                    </div><!-- /.tabbable -->

	  				<div class="page-header">
        				<h1 id="download">Download</h1>
                    </div>

      				<textarea rows="4" style="width: 100%;" readonly>{{url()}}</textarea>
      				
      				<div class="navbar">	
        				<form class="navbar-form pull-left">
        					<input type="text" class="form-control" ng-model="samples" style="width: 100px;" placeholder="#samples">
          				    <button type="submit" class="btn btn-default">Show Sample</button>
          				    <button type="submit" class="btn btn-default">Download</button>
        				</form>
      				</div>
        			<p>"A button "Download" right aligned below the request box. url for button->/store?......"</p>
                </div>
			</div>
		</div>

        <!-- JavaScripts-->
        <!-- JavaScript plugins (requires jQuery) -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

        <!-- jQuery UI -->
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

        <!-- Underscore -->
        <script src="https://cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>

        <!-- Bounding Box -->
        <script src="js/bbox.js"></script>

        <!-- Latest compiled and minified Botstrap JavaScript -->
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <!-- AngularStrap -->
        <script src="https://mgcrea.github.com/angular-strap/js/angular-strap.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>

        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>  -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js"></script>     -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>    -->

        <!-- Optionally enable responsive features in IE8 -->
        <script src="js/respond.js"></script>

        <!-- load the app scripts -->
        <script src="app/app.js" type="text/javascript"></script>
        <script src="app/dir-dnd.js" type="text/javascript"></script>
        <script src="app/ctrl-dnd.js" type="text/javascript"></script>

        <!-- Angularjs modules & controller -->
        <script src="js/angularFilters.js"></script>
        <script src="js/urlBuilder.js"></script>

        <script src="js/application.js"></script>

        <!-- OpenLayers -->
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>




    </div><!-- bs-docs div ends-->
</div><!-- ng-controller div ends-->
</body>
</html>